.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  background-color: lightgray;
  padding: 5px; /* Reduce padding */
}

.scroll{
  max-height: 700px;
  overflow-y: auto; 
}
.commentScroll{
  max-height: 200px;
  width: 100%;
  overflow-y: auto; 
}

.title-user,
.title-header,
.title-date {
  width: 30%; /* Adjust width for these elements */
  text-align: left !important;
  font-weight: 700;
  padding: 5px; /* Reduce padding */
}
.title-content {
  font-weight: 100 !important;
}
.title-header {
  font-weight: 700;
}

.thread-container {
  height: calc(100vh - 120px); /* 100vh - height of navbar and footer */
  overflow-y: auto; /* Add a vertical scrollbar if content overflows the container */
}
.content-container {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  background-color: white;
  width: 100%;
  padding: 10px; /* Reduce padding */
}
.content-content {
  display: flex;
}
.content-content p {
  margin-left: 15px;
  padding-left: 20px;
}


.comments-title {
  margin-left: 50px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  background-color: lightgray;
  width: 80%;
}
.new-thread {
  text-align: left !important;
  padding: 10px !important;
  margin-top: 15px !important;
}

.comments-container {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  background-color: white;
  width: 100%;
}
.comment-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  width: 100%;
}

.comment-item {
  display: flex;
  flex: 1 0 100%; /* Take up full width, do not shrink, basis is 100% */
  max-width: calc(50% - 20px); /* Maximum width for each item with padding */
  margin: 10px; /* Adjust margin as needed */
}

.comment-content {
  flex: 1 0 50%; /* Take up 50% of the item's width */
}

.comment-username,
.comment-date {
  flex: 1 0 30%; /* Adjust width for these elements */
  text-align: left;
  font-weight: 100;
  padding: 5px; /* Reduce padding */
}
.comment-link{
  width:100%;
}

